h3.about{
  height:100%;
  line-height: 130%;
}

#about_facts_h{
  background-color: #689f52;
  color: #fff;
}

#about_facts_h a{
  color:#fff;
}

#about_facts_h h2, #about_facts_h h3, #about_side_projects h2{
  text-align: left;
}

.content p{
  text-align: left;
}

.workwithlogo{
  padding: 25px 0;
}

.aboutLink{
  display: block;
  color: #303033;
  padding: 15px 35px;
  border: solid #303033 2px;
  margin: 15px 0;
}

a.aboutLink:hover{
  color: #303033;
  text-decoration: underline;
}

.aboutLink img{
  position: relative;
  margin-left: 17px;
}
