.bdimg-ampup{
    background-image: url('../images/projects/ampup/ampup-bdimg.jpg');
    background-position: 50% 0;
}

.tagline{
    width: 100%;
    max-width: 960px;
    margin:0 auto;
    background-color: #fff;
    text-align: center;
    padding: 25px;
    font-size: 300%;
    position: relative;
    top: 40%;
}

.content{
    width: 100%;
}

.content section h4{
    width: 100%;
    font-size: 150%;
    text-align: center;
    font-family: "proxima-nova-light", Roboto, sans-serif;
}

.content section{
    text-align: center;
    padding: 40px 0;
}

.content section p{
    padding: 25px 0 0 0;
    font-size: 100%;
    font-family: "proxima-nova-regular", Roboto, sans-serif;
    margin: 0 auto;
}

#ampupintro{
    color:#fff;
    background-color: #f60;
}

#ampupdocked section{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}

.iPhone video{
    width: 100%;
    height: 100%;
}

.iPhone{
    position: relative;
    width: auto;
}

.iPhone5slider{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
}

.iPhoneImg{
    width: 100%;
    position: relative;
    z-index: 7;
}

.iphone5Video{
    position: absolute;
    overflow: hidden;
    height: 70.91%;
    top:14.7%;
    left:8.51%;
    right: 7.6%;
}
