.bdimg-ampup{
    background-image: url('../images/projects/ampup/ampup-bdimg.jpg');
    background-position: 50% 0;
}

.tagline{
    width: 100%;
    max-width: 960px;
    margin:0 auto;
    background-color: #fff;
    text-align: center;
    padding: 25px;
    font-size: 300%;
    position: relative;
    top: 40%;
}

.content{
    width: 100%;
}

.content section h4{
    width: 100%;
    font-size: 200%;
    text-align: center;
    font-family: "proxima-nova-light", Roboto, sans-serif;
}

.content section{
    text-align: center;
    padding: 40px 0;
}

.content section p{
    padding: 25px 0 0 0;
    font-size: 100%;
    font-family: "proxima-nova-regular", Roboto, sans-serif;
    width: 45%;
    margin: 0 auto;
}

#ampupintro{
    color:#fff;
    background-color: #f60;
}

#ampupdocked section{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}

#ampupdocked section>*{
    width: 30%;
}
