.bdimg-aop {
  overflow: hidden;
}

/* .video_container {
} */

.bdimg-aop video {
  /* height: 100%; */
}

#aopintro {
  background-color: #9e1b32;
  color: #fff;
}

.tagline {
  background-color: rgba(255, 255, 255, 0.8);
}

.aop-3up {
  margin: 0 auto;
}

.aop-3up img {
  width: 100%;
}
