.bdimg-classroom {
  background-image: url('../images/projects/classroom/classroom-hero.jpg');
  background-position: 50% 0;
}

#classroomintro {
  color: #fff;
  background-color: #1a7fff;
}

#teacherteaching {
  height: 550px;
  color: #fff;
  background-image: url('../images/projects/classroom/teacherteaching.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

#classroom-isometric {
  height: 684px;
  color: #fff;
  background-image: url('../images/projects/classroom/classroom-isometric.jpg');
  background-position: center;
  background-repeat: no-repeat;
}

.teacherfeatures {
  text-align: left;
}

.teacherfeatures li {
  margin: 10px 0;
}

.teacherfeatures img {
  width: 60px;
}
