/* tablets in Portrait */
@media only screen
  and (min-width: 768px)
  and (max-width: 1024px){

    html{
      font-size: 120%;
    }

    .topbar{
      max-width: 720px;
    }

    .topbar>div{
      margin:0 20px;
    }

    section{
      max-width: 960px;
    }
}

/* annoying pricks that resize their browser */
@media only screen
  and (min-width: 668px)
  and (max-width: 767px){
    .topbar{
      max-width: 640px;
    }
}

/* iPhone 5, 6, and 6 Plus, Portrait and Landscape */
@media only screen
  and (max-width: 736px)
  and (min-width: 320px){

    html{
      font-size:90%;
    }

    .body-img{
      background-attachment: scroll;
    }

    header{
      margin-top: 0;
    }

    .topbar{
      height: 124px;
      flex-direction: column;
    }

    .topbar>div{
      width: 100%;
    }

    .logo{
      text-align: center;
    }

    .header-1{
      height: 64px ;
    }

    .header-2{
      height: 60px;
    }

    menu{
      height: 60px;
    }

    menu item{
      height: 60px;
    }

    menu item a{
      line-height: 60px;
    }

    .topbar .header-3{
      display: none;
    }

    section.projects{
      width: 940px;
    }

    section.projects div{
      height: 400px;
      overflow: hidden;
    }

    section.projects div img{
      width: 400%;
    }
}

/* Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 690px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .topbar{
      height: 60px;
      flex-direction:row;
    }

    .topbar>div{
      width: 50%;
    }

    .header-1 .logo{
      height: 60px;
      text-align: left;
      padding-left: 20px;
    }
}

/* for itty bitty things, like iPhone 4 sized things*/
@media only screen
  and (max-height: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    section#intro {
      padding-top: 5%;
    }
  }
