/* tablets in Portrait */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {

    .topbar{
      max-width: 720px;
    }

    .topbar>div{
      margin:0 20px;
    }

    section{
      max-width: 960px;
    }
}

/* iPhone 5 and 6, Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {

    header{
      transition: margin-top 100ms ease;

      margin-top: 0;
    }

    .topbar{
      height: 124px;
      flex-direction: column;
    }

    .topbar>div{
      width: 100%;
    }

    .logo{
          text-align: center;
    }

    .header-1{
      height: 64px ;
    }

    .header-2{
      height: 60px;
    }

    menu{
      height: 60px;
    }

    menu item{
      height: 60px;
    }

    menu item a{
      line-height: 60px;
    }

    .topbar .header-3{
      display: none;
    }
}
