@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/notosanssc/v1/NotoSansSC-Regular.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/notosanssc/v1/NotoSansSC-Regular.woff) format('woff'),
       url(//fonts.gstatic.com/ea/notosanssc/v1/NotoSansSC-Regular.otf) format('opentype');
}

@font-face{
	font-family: 'proxima-nova-regular';
	src: url('../fonts/prxnv-reg.eot');
	src: url('../fonts/prxnv-reg.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/prxnv-reg.woff') format('woff'),
	     url('../fonts/prxnv-reg.ttf') format('truetype'),
	     url('../fonts/prxnv-reg.svg#webfont') format('svg');
}

@font-face{
	font-family: 'proxima-nova-bold';
	src: url('../fonts/prxnv-bld.eot');
	src: url('../fonts/prxnv-bld.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/prxnv-bld.woff') format('woff'),
	     url('../fonts/prxnv-bld.ttf') format('truetype'),
	     url('../fonts/prxnv-bld.svg#webfont') format('svg');
}

@font-face{
	font-family: 'proxima-nova-light';
	src: url('../fonts/prxnv-lt.eot');
	src: url('../fonts/prxnv-lt.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/prxnv-lt.woff') format('woff'),
	     url('../fonts/prxnv-lt.ttf') format('truetype'),
	     url('../fonts/prxnv-lt.svg#webfont') format('svg');
}

*{
  box-sizing: border-box;
}

html{
  font-size: 60%;
}

body{
  color: #303033;
  font-family: 'proxima-nova-regular', 'Helvetica', sans-serif;
}

.body-img{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-position: center fixed;
  background-image: url('../images/watertown.jpg');
  background-size: cover;
  background-attachment: fixed;

  z-index: -1;
  animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
}

header{
  margin-top: 80px;
  width: 100%;
  background-color: #444449;
  /*height: 80px;*/
}

header a{
  color:#fff;
  line-height: 80px;
}

header a:hover{

  -webkit-transition: color 200ms ease;
  -moz-transition: color 200ms ease;
  -o-transition: color 200ms ease;
  transition: color 200ms ease;

  color:#81D4FA;
  font-family: "proxima-nova-regular", Roboto, sans-serif;
  text-decoration: none;
}

.header-1 .logo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80px;
}

.header-3{
  text-align: right;
}

.topbar{
  max-width: 960px;
  height: 80px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.topbar>div{
  width: 33.333333%;
}

h1, h2{
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.row h1{
  font-family: "proxima-nova-bold", Roboto, sans-serif;
  font-size: 18px;
  letter-spacing: 1.12px;
  margin-bottom: 4px;
}

.row h2{
  font-family: "proxima-nova-light", Roboto, sans-serif;
  font-size: 18px;
  letter-spacing: 2.42px;
}

menu{
  height: 80px;
  font-family: "proxima-nova-light", Roboto, sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: row;
}

menu item{
  width: 33.3333%;
  height: 80px;
  text-align: center;
}

ul.socialicons{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.socialicons li{
  margin-left: 16px;
}

.socialicons li a:hover, .socialicons li a:active{

  -webkit-transition: color 200ms ease;
  -moz-transition: color 200ms ease;
  -o-transition: color 200ms ease;
  transition: color 200ms ease;

  color:#81D4FA;/*Orange 500 from Material design*/
}

section, footer{
  max-width: 960px;
  margin:0 auto;
  font-size: 16px;
  line-height: 22px;
}

footer{
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section#intro{
  padding-top: 20%;
  display: flex;
  flex-direction: column;
  line-height: inherit;
}

section#intro p{
  text-align: center;
}

section.projects li{
  max-width: 960px;
  width: 100%;
  height: 470px;
  position: relative;
  overflow: hidden;
}

.projectniceties{
  width: 277px;
  margin-left: 50px;
  margin-top: 36px;
}

.projectTitle{
}

.viewProject{
  font-family: "proxima-nova-light", Roboto, sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
}

#project-1 .viewProject{
  color: white;
  margin-top: 214px;
}

#project-2 .viewProject{
  margin-top: 224px;
}

#project-2 .rightChevron{
  fill: #303033;
}

#project-2 .projectHero{
  background: linear-gradient(0, #EDEDED, #E9E9EB);
}

#project-2 .projectHero img{
  margin-top: -7%;
}

.rightChevron{
  margin-left: 20px;
  margin-top: -4px;
}

.projectHero{
  width: 960px;
  height: 470px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  opacity: 1;
}

.projectHero img{
  position: absolute;
  width: 960px;
  -webkit-transform:scale(1.0)
  transform:scale(1.0)

  -webkit-transition: -webkit-transform 8s, opacity 8s;
  transition: transform 8s, opacity 8s;

  transform-origin: 70% 60%;
  -webkit-transform-origin: 70% 60%;
}

.projects li img.overlay{
  opacity: 0;
}

.projects li:hover img.overlay{
  -webkit-transform:scale(1.05);
  transform:scale(1.05);
  opacity: 1;
}

.projects li:hover img.underlay{
  -webkit-transform:scale(1.05);
  transform:scale(1.05);
}

.downchevron{
  margin: 0 auto;
  position: relative;
  top:-100px;
  margin-bottom: -26px;
  cursor: pointer;
  text-align: center;
  font-family: "proxima-nova-light", Roboto, sans-serif;
  font-size: 16px;
}

.downchevron img{
  margin-top: 7px;
}

p.greeting{
  font-family: "proxima-nova-regular", Roboto, sans-serif;
  font-size: 60px;
  letter-spacing: 3px;
}

p.role{
  font-family: "proxima-nova-light", Roboto, sans-serif;
  font-weight: 300;
  font-size: 32px;
  letter-spacing: 1.6px;
}

span.chinese{
  font-family: 'Noto Sans SC', sans-serif;
  font-weight: 500;
}

@keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@keyframes kenBurnsOpac{
  0% {
    opacity: 0;
    transform: scale(1.0);
  }

  100% {
    opacity: 1;
    transform: scale(1.05);
  }
}

@keyframes kenBurns{
  0% {
    transform: scale(1.0);
  }

  100% {
    transform: scale(1.05);
  }
}
